.nav{
    @include flexbox(space-between,center);
    padding: 30px 88px;
    a{
        font-size: 20px;
        transition: all 0.5s;
        &:hover{
            opacity: 0.7;
        }
    }
}
@media (max-width:1024px){
    .nav{
        padding:30px 40px;
    }
}
@media (max-width:576px){
    .nav{
       
        padding: 0;
        .logo{
            padding: 10px 0;
        }
        ul{
            width: 100%;
            flex-wrap: wrap;
            li{
                margin: 0;
                width: 50%;
                text-align: center;
                padding: 8px 0;
                border:1px solid #fff;
            }
        }
    }
}
